<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write new chat</title>
</head>
<body>
    <h3>Write new chat...</h3>
    <form action="/chats" method="POST">
        <input  placeholder="Who are you" name="from"><br><br>
        <textarea name="msg" placeholder=" Write you message here"></textarea><br><br>
        <input type="text" placeholder="add receiver" name="to"><br><br>
        <button>Create Chat</button>

    </form>
</body>
</html>