div{
    height:200px;
    /*height:500px;  to make div circle*/
    width:500px;
    background-color:pink;
    /*border-width: 5px;*/
    /*border-style:solid;*/
    /*border-color: black;*/
    /*border: 5px solid yellow;*/
    /*border-left-color: blue;*/
    /*border-left-style: dashed;*/
    /*border-top: 5px dashed blue;*/

    border: 5px solid black;
    /*border-radius:15px;*/
    /*border-radius:50px;*/
    /*border-radius:100px;  google ka search box shape*/
    /*border-radius: 50%;*/
    /*border-radius: 50px;*/
    /*border-top-right-radius: 50px;*/
    border-radius: 10px;


    padding-top:10px;

    /*margin-bottom:25px;*/
    /*margin-left:20px;*/

    /*margin: 20px;*/
    /*margin: 20px 50px;*/
    margin: 10px 20px 30px
}

h1{
    /*border-width:2px;*/
    /*border-style:dashed;*/
    /*border-color: blue;*/

    border: 2px dashed blue;
    /*border-radius: 50%;*/
    margin:0;
}


button{
    border: 2px solid black;
    /*border-radius: 10px;*/
    /*padding-left: 25px;*/
    /*padding-right:25px;*/

    background-color: yellow;

    /*for all 4 sides*/
    /*padding:25px;*/

    /*top & bottom | left & right*/
    /*padding: 10px 25px;*/

    /*top | left & right | bottom*/
    /*padding: 10px 20px 30px;*/

    /**clockwise  top | right | bottom | left*/
    /*padding: 10px 20px 30px 40px;*/

    /*No padding from top and bottom*/
    padding: 0 30px 0 30px;
}